---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About Me"
	description="Some quick info about me."
	pubDate={new Date("January 08 2026")}
	heroImage="/blog-placeholder-about.gif"
>
	<p>
		Hello! I’m Alfonso, though many people prefer to call me Alf, I am
		passionate developer, musician and tech enthusiast. I enjoy coding,
		exploring new technologies, and contributing to open-source projects. My
		interests include hardware development, system programming, and DevOps.
		I am also a bassist for my band,
		<a
			href="https://www.instagram.com/anthillrna"
			target="_blank"
			rel="noopener"
			>Anthill
		</a>
	</p>

	<h4>Professional Background</h4>
	<p>
		I have experience in various programming languages and technologies,
		including:
		<ul>
			<li>
				<strong>Languages</strong>: Rust 🦀 (my beloved), Python, Java,
				C/C++, HDL (VHDL, Verilog), Assembly, Bash, HTML+CSS+JS
			</li>
			<li>
				<strong>Tools</strong>: Git, Proxmox, STM32CubeIDE, Docker
			</li>
		</ul>
	</p>

	<h4>Personal Interests</h4>
	<p>
		When I'm not coding you can find me:
		<ul>
			<li>Playing music</li>
			<li>Tinkering with hardware</li>
			<li>Trying to learn something new</li>
			<li>Breaking my arch install</li>
		</ul>
		Feel free to connect with me on <a
			href="https://www.linkedin.com/in/alfonsoespadero/">LinkedIn</a
		>
		or check out my projects on <a href="https://github.com/AlfEspadero"
			>GitHub!</a
		>
	</p>
</Layout>
